In [ ]:
import numpy as np
import pandas as pd
from sklearn import train_test_split

In [ ]:
df=pd.read_csv("glass.csv")

In [ ]:
df.shape
df.columns
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1


*   output col - type
*   all col are numeric
*   id column is not present

In [ ]:
df["y"]=(df["Type"]==1).astype(int)
df=df.drop(columns=["Type"])
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  y
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0  1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0  1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0  1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0  1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0  1

In [ ]:
X=df.drop(columns=["y"]).values
y=df["y"].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(
    X,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:

def relu(x):
  return np.maximum(0,x)

In [ ]:
def predict_sal(X,w,b):
  z=np.dot(X,w)+b
  p=relu(z)
  return p

In [ ]:
def loss(y,p):
  return -np.mean(y*np.log(p)+(1-y)*np.log(1-p))

In [ ]:
def update_weight(X,y,w,b,lr):
  p=predict_sal(X,w,b)
  error=(p-y)
  w-=np.dot(X.T,error)/X.shape[0]
  b-=np.mean(error)

  return w,b

In [ ]:
w=np.zeros(X_train.shape[1])
b=0.0
lr=0.1
epochs=100

for _ in range(epochs):
  w,b=update_weight(X_train,y_train,w,b,lr)

In [ ]:
def predict_label(p,thresh=0.5):
  return (p>=thresh).astype(int)

In [ ]:
pred_pro=predict_prob(X_test,w,b)
ylab=predict_label(pred_pro)

error=y_test-ylab
print(np.mean(error==0))

0.8372093023255814